/* import font style from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

:root {
    --background-color: white;
    --textColor: black;
    --mainColor: #FF5555;
    --mainColorLight: #eb7c7c;
    --secondaryColor: rgb(255, 182, 182);
}

.dark-mode {
    --background-color: rgb(26, 29, 30);
    --textColor: white;
    --mainColor: rgb(167, 0, 0);
    --mainColorLight: #5c5f62;
    --secondaryColor: rgb(255, 182, 182);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: var(--mainColor);
    color: var(--textColor);
}

main {
  min-height: 100vh;
}
footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 2rem;
}


  .Toastify__progress-bar--default {
    background-color: var(--toastify-color-error);
  }
  
  .standard-btn {
        width: fit-content;
          height: auto;
          padding: 1rem;
          border: none;
          background-color: #FF5555;
          color: white;
          border-radius: 5px;
          font-weight: bold;
          font-size: medium;
          cursor: pointer;
          margin-top: 15px;
          margin-bottom: 30px;
  }