.jobs{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: calc(2vw + 2rem); */
}
.new-post{
    background-color: #fcdddd;
    font-weight: 700;
    padding: 0.5rem;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    margin-top: calc(2vw + 2rem);
    display:block;
    margin-left: 77%;
    margin-right: 14.5%;
    text-align: center;
}